* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
}

nav.navbar {
    background-color: #ededed;
    padding: 0.8rem 2rem;
    border-radius: 35px;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
}

nav.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav.navbar ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
    position: relative;
    padding: 0.5rem 0;
    display: inline-block;
    transition: color 0.3s ease;
}

nav.navbar ul li:not(:last-child) a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav.navbar ul li:not(:last-child):hover a {
    color: #666666;
}

nav.navbar ul li:not(:last-child):hover a::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav.navbar ul li:last-child a {
    background-color: #000000;
    color: #ffffff;
    padding: 0.7rem 1.8rem;
    border-radius: 50px;

    font-weight: bold;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav.navbar ul li:last-child a:hover {
    background-color: #222222;
    transform: scale(1.05);

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

S .work-details {
    display: none;
}